


.atas{
	color:white;
	text-align:center;
}

.programer{
	
	margin-left:700px;
	margin-right:100px;
	color:white;
	background-color:hsl(0, 40%, 50%);
	text-align: center;
}
.center{
	text-align: center;
	color:white;
}
.ambigu{
	background-color:hsl(0, 40%, 50%);
	color:white;
	margin-right: 550px;
	text-align: center;
}

.searcher{
	background-color:hsl(0, 40%, 50%);
	color:white;
	text-align: center;
	margin-left:550px;


}

.writer{
	background-color:hsl(0, 40%, 50%);
	color: white;
	text-align: center;
	margin-right: 550px;

}
.foto{
	color:white;
	text-align: right
}
.bgrnd{
	background-image: url("img/zahrabc.jpg");
}
.footer{
	text-align: center;
}

.find{
	text-align: left;
}

.bla{
	color: white;

}
