
.image{
	width: auto;
	height: 1px;
	margin-right:200px;
}

.bgrnd{
	background-color: tomato;
	width:980px;
	border: 9px solid white;
	padding-left: 25px;
	margin-right: 40px;

}

.page{
	font-weight: 100px;
}

.center{
	max-width: 79%;
}

.ol{list-style-type: lower-hexadecimal;
	color:white;
}

.h1{
	background-color: lightblue;
	text-align: center;
	font-family: comic sans ms;
}


.one{color:white;
	margin-right: 20px;
}

.pict{
	width: 100%;
}

.h3{
	font-family: comic sans ms;
	font-size: 30px
}

.footer{
	background-color: #C6CCD3;
	font-family: times new roman;
	width: auto;
	height: 50px;
	text-align: center;
}