.conta{
	background-color: lightblue;
	margin-left: 10px;
	margin-right: 300px;
	margin-bottom: 1400px;
}

.makan{
	background-color: white;
	margin-left: 10px;
	max-width: 75%

}

.minum{
	margin-left: 300px
	margin-top:100px;
}
.image{
	width: 1px;
	height: 1px;
	margin-right:200px;
}
.bgrnd{
	background-color: white;
}
.ten{
	margin-left:auto;
	color:white;
}

.nine{
	margin-left:10px;
}

.mamama{
	max
}

.page{
	font-weight: 100px;
}

.center{
	max-width: 75%;
}