body{
	text-align:center;
	font size:18px;
}
p{
	color:black;
	font-size:18px;
}
h1{
	padding:60px;
}

.bg {
	 background-color:white;
	 margin-right: 75px;
	 margin-left: 75px;
	 border-right:3px solid #a29f9d;
	 border-left:3px solid #a29f9d;
	 border-bottom: 3px solid #a29f9d;

	 
}


.paragraf{
	padding:60px;
	text-align:left;
	margin-left:170px;
}
.image{
	margin-left:10px;
}
.container{
	max-width: 95%;

}

.border1{
	border:7px dashed black;
	max-width:90%;
}
.lead{
	padding:60px;
}

a {
    color: black;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.card-body{
	background-color: black

}
.biod{
	color:white;
}

.card{
	margin-left: 600px;
}
.margin-right{
	margin-top: 200px;
}
.vidio{
	margin:auto;
}

.d-block w-100{
	height: 100px;

}

.round{
	margin-top: 70px;
}
.featurette-devider{
	margin-top: 100px;
	margin-bottom: 100px;
	width:400px;
	height: 400px;
}

.gallery-margin{
	margin-left: 90px;
	margin-top: 100px;
}

div.gallery {
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: auto;
    text-align: center;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
