.conta{
	background-color: lightblue;
	margin-left: 10px;
	margin-right: 300px;
	margin-bottom: 1400px;
}

.makan{
	background-color: white;
	margin-left: 10px;
	max-width: 75%

}

.minum{
	margin-left: 300px
	margin-top:100px;
}
.image{
	width: 1px;
	height: 1px;
	margin-right:200px;
}
.bgrnd{
	background-color: white;
}
.ten{
	margin-left:auto;
	color:white;
}

.nine{
	margin-left:10px;
}

.mamama{
	max
}

.page{
	font-weight: 100px;
}

.center{
	max-width: 75%;
}
p {color: blue;
    text-align: center;
    font-family: Comic Sans ms;
    font-size: 15px;
}
head 
#customers {
    font-family: "Comic Sans ms", 
    Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; color: black; 
    text-align: justify;
}

#customers td, #customers th {
    border: 5px solid #ddd;
    padding: 10px;
}

#customers tr:nth-child(even)
{background-color: yellow;}

#customers tr:hover 
{background-color: blue;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: justify;
    background-color: white;
    color: black;
}
h3 {color: green;
    text-align: center;
    font-family: Comic Sans ms;
    font-size: 25px;}
    h1 {color: red;
    text-align: center;
    font-family: Comic Sans ms;
    font-size: 40px;}
