}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
a {
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

}
.header h1 {
    font-size: 50px;
}

.abc {font-size: 20px}
.leftcolumn {   
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;    
    padding-left: 20px;
}


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
table {
    margin-left: 65px
}
.customers {
    font-family: "Comic Sans ms", 
    Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; color: white; 
    text-align: justify; 
}

#customers td, #customers th {
    border: 5px solid #ddd;
    padding: 10px; color:;
}

#customers tr:nth-child(even)
{background-color: black;
color:white;}

#customers tr:hover 
{background-color: grey;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: justify;
    background-color: white;
    color: black;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.container{
    max-width: 80%;

}


.navbar-margin{
    margin-left: 180px;

}