.a {
	color:mediumseagreen;
	color:white;
	margin-left: 500px;
	margin-right:500px;
}

.white{
	background-color:mediumseagreen;
	color:white;
	margin-right: 500px;
	margin-left: 500px;
	text-align: center;
}


.index{
	color:white;
}

.bla{
	color:black;
}