.a {
	
	color:white;
	height: 60px;text-align: center; 
font-size: 50px ;
}

.white{
	background-color:mediumseagreen;
	color:white;
	margin-right: 500px;
	margin-left: 500px;
	text-align: center;
}


.index{
	color:white;
}

.bla{
	color:black;
}

.row{background-color: lightblue;
	border: 9px solid white;
	}

.bala{background-color:#bfc6cd
}
